body {
	background-color: white;
}

h1 {
}

.title {
	font-size: 140%;
	font-weight: bold;
	text-align: center;
	padding: 5px 0px;
}

table.reportlist {
	margin: auto;
	border-collapse: collapse;
	clear: both;
	cursor: inherit;
}

table.reportlist td {
	padding:0px 10px;
}

table.reportlist th {
        padding:3px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background-color: silver;
	cursor: pointer;
}

/*
table.reportlist thead {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
*/

table.reportlist tr:hover {
	background-color: whitesmoke;
}
table.reportlist tbody tr:first-child td {
	padding-top: 10px;
}
table.reportlist tr.sum {
	border-top: 1px solid grey;
}
table.reportlist tr.selected {
	background-color: gainsboro;
}

table.reportlist td.hidden, table.reportlist th.hidden {
	display: none;
}

table.reportlist tr {
        cursor: pointer;
/*		text-decoration: underline;
		color: blue;*/
}

.reportdesc {
	display:inline-block;
	font-weight: bold;
	padding: 1em 0;
	margin: 0 auto;
	
}

.reportdesc_container {
/* 	display:inline-block; */
	border-top: 2px solid grey;
	margin: 0 auto;
	
}

table.reportdata {
	margin: 0 auto;
	border-collapse: collapse;
}

table.reportdata tr td {
	text-align: center;
	padding: 3px;
	border: 2px solid white;
	border-collapse: collapse;
}

table.reportdata tr th {
	text-align: center;
	padding: 3px;
	border-collapse: collapse;
	border: 2px solid white;
	border-top: 0px solid black;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	background-color: lightgray;
	cursor:pointer;
}

table.reportdata tr.red {
	background-color: #FF0000;
}

table.reportdata tr.orange {
	background-color: #FFA500;
}

table.reportdata tr.lime {
	background-color: #00FF00;
}

table.reportdata tr.yellow {
	background-color: #FFFF00;
}

.footer {
	font-size: 70%;
	text-align: center;
	border-top: 2px solid grey;
	width: 100%;
	margin: 10px auto 0px auto;
	padding-top: 10px;
	position: fixed;
	bottom: 0;

}

.optionblock {
/*
	background: lightgrey;
	padding: 0.4em;
	float: right;
	margin: auto 2em 1em auto;
*/
      	white-space: nowrap;
	overflow: auto;
	font-size: 80%;
	padding: .5em;
    background-color: silver;
    margin: auto;
/*     width: 95%; */
    text-align: center;
}

.optionlabel {
  font-weight: bold;
/*  
	float: left; clear: left; 
	margin-right: 1em;
*/
}

.options {
	margin-right: .5em;
  /*
	font-size: 70%;
	text-align: right;
	border: none;
	width: 97%;
	padding: 0.4em;
  */
  display: inline-block;
  border-right: 1px solid black;
    padding-right: 1em;
}

.activated {
	border: 0px solid black;
	color: black;
	background: lightgreen;
	padding: 0.2em;
	padding-right: 0.4em;
	padding-left: 0.4em;
	text-decoration: none;
}

.deactivated {
	border: 1px solid black;
	color: black;
	background: orange;
	padding: 0.2em;
	padding-right: 0.4em;
	padding-left: 0.4em;
	text-decoration: none;
}
.deactivated:hover {
	background-color: yellow;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

.circle_black:before {
	content: ' \25CF';
	font-size: 25px;
	color: #000000;
}

.circle_lime:before {
	content: ' \25CF';
	font-size: 25px;
	color: #00FF00;
}

.circle_red:before {
	content: ' \25CF';
	font-size: 25px;
	color: #FF0000;
}

.circle_yellow:before {
	content: ' \25CF';
	font-size: 25px;
	color: #FFFF00;
}

.circle_orange:before {
	content: ' \25CF';
	font-size: 25px;
	color: #FFA500;
}

.asc_triangle:after {
	content: ' \25B2';
	font-size: 15px;
/*	color: #000000; */
}

.desc_triangle:after {
	content: ' \25BC';
	font-size: 15px;
/*	color: #000000; */
}

