<?php

// ####################################################################
// ### configuration ##################################################
// ####################################################################

$dbhost="localhost";
$dbname="dmarc";
$dbuser="dmarc";
$dbpass="xxx";
$dbport="3306";

?>
